<div id="new_message">
	<form id="new_message_fields" action="http://edi.iem.pw.edu.pl/makosak/message/send" method="POST">
		<p>Odbiorca:</p>
		<textarea type="text" name="new_msg_to" rows="1" cols="100" required></textarea>
		<p>Temat:</p>
		<textarea type="text" name="new_msg_subject" rows="1" cols="100" required></textarea>
		<p>Wiadomość:</p>
		<textarea type="text" name="new_msg_content" rows="20" cols="100" required></textarea>
		<p><input type="submit" value="Wyślij"></p>
	</form>
</div>
